@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    display : flex ;
    justify-content : center; 
    align-items: center;
    min-height: 100vh;
    padding: 1em;
    background: rgb(233, 244, 245);
}